@media(max-width: 800px) {
    .welcome-button {
        transform: scale(0.8);
        margin-left: -15px;
    }
    .welcome-p {
        font-weight: 600;
    }
}
@media(max-width: 500px) {
    .welcome-h2 {
        font-size: max(4.2vw, 15px);
    }
    .welcome-p {
        font-weight: 600;
    }
    .welcome-button {
        transform: scale(0.6);
        margin-left: -15px;
    }
}
