.social-icon a::before {
    content: "";
    width: 58px;
    height: 58px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;

}

.social-icon a:hover::before {
    transform: scale(1);
    cursor: pointer;
}

.social-icon a img {
    transition: filter 0.3s ease-in-out;
    z-index: 2;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media (max-width: 1024px) {
    .footer-p {
        margin-left: 70px;
    }
    .social-icon {
        margin-right: 70px;
    }
}
@media (max-width: 750px) {
    .footer .flex {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: auto;
    }

    .footer-p {
        margin-left: 0;
        text-align: center;
        margin-top: 20px;
    }

    .social-icon {
        margin-right: 0;
    }

    .social-icon-img {
        margin-right: 10px;
    }
}
@media (max-width: 500px) {
    .footer .flex {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: auto;
    }
    .footer-p {
        font-size: 13px;
    }
    .social-icon-img {
        height: 62px;
        width: 62px;
    }

}